.loginBox{
    border: 1px solid red;
    width: 400px;
    margin-left: 30%;
    margin-top: 1%;
    justify-content: center;
    align-items: center;
    padding: 2%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}